<?xml version="1.0"?>
<launch>
  <arg name="simulation" default="true"/>
  <arg name="enable_ekf" default="true"/>


  <!-- Load controller configuration -->
  <rosparam command="load" file="$(find ros_mobile_robot)/config/control.yaml" />

  <!-- Spawn controllers -->
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner"
        args="joint_state_controller mobile_base_controller"/>

  <!-- Start EKF for localization -->
  <group if="$(arg enable_ekf)" >
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
      <rosparam command="load" file="$(find ros_mobile_robot)/config/localization.yaml" />
    </node>
  </group>

  <!-- Robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <!-- Twist mux for combining command velocities -->
  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find ros_mobile_robot)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="mobile_base_controller/cmd_vel"/>
  </node>

</launch>
