<?xml version="1.0"?>
<launch>
  <!-- Robot description -->
  <param name="robot_description" 
         command="$(find xacro)/xacro $(find ros_mobile_robot)/urdf/mobile_robot.urdf.xacro" />

  <!-- Launch control system -->
  <include file="$(find ros_mobile_robot)/launch/control.launch"/>
</launch>
