<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="model" default="$(optenv MOBILE_ROBOT_MODEL custom_robot)"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="enable_ekf" default="true"/>

  <!-- Launch Gazebo with house world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ros_mobile_robot)/worlds/house.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
  </include>

  <!-- Load robot description -->
  <param name="robot_description" 
         command="$(find xacro)/xacro $(find ros_mobile_robot)/urdf/mobile_robot.urdf.xacro" />

  <!-- Spawn robot in Gazebo -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" 
        args="-urdf -param robot_description -model $(arg model)"
        output="screen" />

  <!-- Launch robot control system -->
  <include file="$(find ros_mobile_robot)/launch/control.launch">
    <arg name="enable_ekf" value="$(arg enable_ekf)"/>
  </include>

  <!-- Launch move_base -->
  <include file="$(find ros_mobile_robot)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find ros_mobile_robot)/rviz/rrt.rviz"/>
  </group>

</launch>
