<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="model" default="$(find ros_mobile_robot)/urdf/mobile_robot.urdf.xacro"/>
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="R" default="0"/>
  <arg name="P" default="0"/>
  <arg name="Y" default="0"/>

  <!-- Load robot description to parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
  

  <!-- Spawn robot in Gazebo at specified position -->
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -param robot_description -model mobile_robot 
              -x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg R) -P $(arg P) -Y $(arg Y)"
        output="screen"
        respawn="false"
        required="false"/>

</launch>
